<!DOCTYPE HTML>
<html ng-app="todoApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<h2>To-Do List</h2>
	<div class="todo" ng-controller="todoList">
		<span>Items: {{todos.length}}</span>
		<ul>
			<li ng-repeat="todo in todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</label>
				<button ng-click="deleteTodo($index)">Remove</button>
			</li>
		</ul>
		<form ng-submit="addTodo()">
			<input type="text" ng-model="todoText" size="30"
			   placeholder="add new todo here">
			<input type="submit" value="add">
		</form>
	</div>
	<script>
	var app = angular.module('todoApp', []);
	
	app.controller('todoList', function($scope) {
		$scope.todos = [ {text:'HTML', done:true},
			{text:'CSS', done:false}];
			
		$scope.addTodo = function() {
			if($scope.todoText !== '') {
				$scope.todos.push({text:$scope.todoText, done:false});
				$scope.todoText = '';
			}
		};
		$scope.deleteTodo = function($index) {
            $scope.todos.splice($index, 1);
        }
	});
	</script>
</body>
</html>